<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="service.name" value="SGM.WindowsForms" />
		<add key="finance-organization-local-api-url" value="http://localhost:5001" />
		<add key="finance-organization-homologacao-api-url" value="http://api.financeiro.homologacao.arielgiacomini.com.br" />
		<add key="finance-organization-producao-api-url" value="http://api.financeiro.arielgiacomini.com.br" />
	</appSettings>
</configuration>