

trigger:
 - main

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  
stages:
 - stage: Build
   displayName: 'Build'
   jobs:
     - job: BuildJob
       displayName: 'Inicia o processo de Build da Aplicação'
       pool:
         vmImage: 'windows-latest'
       steps:
         - task: NuGetToolInstaller@1
         - task: NuGetCommand@2
           inputs:
             restoreSolution: '$(solution)'
         - task: VSBuild@1
           inputs:
             solution: '$(solution)'
             msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\FinanceOrganization.WebApi.zip" /p:DeployIisAppPath="Default Web Site"'
             platform: '$(buildPlatform)'
             configuration: '$(buildConfiguration)'
         - task: PublishBuildArtifacts@1
           inputs:
             PathtoPublish: '$(Build.ArtifactStagingDirectory)'
             ArtifactName: 'drop'

 - stage: DeployOnHml
   displayName: 'Deploy on hml'
   dependsOn: Build
   jobs:
     - deployment: DeployToEnvironment
       displayName: 'Inicia o Deploy em Homologação'
       environment:
         name: 'Approvers HML'
       strategy:
         runOnce:
           deploy:
             steps:
               - download: current
                 artifact: drop
               - task: IISWebAppManagementOnMachineGroup@0
                 displayName: 'Manage IIS Web App'
                 inputs:
                   IISDeploymentType: 'IISWebsite'
                   ActionIISWebsite: 'CreateOrUpdateWebsite'
                   WebsiteName: 'arielgiacomini-003-subsite6'
                   WebsitePhysicalPath: 'h:\\root\\home\\arielgiacomini-003\\www\\api.finance.prd'
                   WebsitePhysicalPathAuth: 'WebsiteUserPassThrough'
                   WebsiteAuthUserName: 'arielgiacomini-003'
                   WebsiteAuthUserPassword: ''
               - task: IISWebAppDeploymentOnMachineGroup@0
                 displayName: 'Deploy IIS Web App'
                 inputs:
                   WebSiteName: 'arielgiacomini-003-site1'
                   Package: '$(Pipeline.Workspace)/drop/*.zip'

 - stage: DeployOnPrd
   displayName: 'Deploy on prd'
   dependsOn: Build
   jobs:
     - deployment: DeployToEnvironment
       displayName: 'Inicia o Deploy em Produção'
       environment:
         name: 'Approvers HML'
         resourceType: VirtualMachine
       strategy:
         runOnce:
           deploy:
             steps:
               - download: current
                 artifact: drop
               - task: IISWebAppManagementOnMachineGroup@0
                 displayName: 'Manage IIS Web App'
                 inputs:
                   IISDeploymentType: 'IISWebsite'
                   ActionIISWebsite: 'https://win8130.site4now.net:8172/MsDeploy.axd?site=arielgiacomini-003-site1'
                   WebsiteName: 'arielgiacomini-003-site1'
                   WebsitePhysicalPath: 'h:\\root\\home\\arielgiacomini-003\\www\\api.finance.prd'
               - task: IISWebAppDeploymentOnMachineGroup@0
                 displayName: 'Deploy IIS Web App'
                 inputs:
                   WebSiteName: 'Default Web Site'
                   Package: '$(Pipeline.Workspace)/drop/*.zip'