trigger:
 - none
stages:
 - stage: Build
   displayName: 'Build Stage'
   jobs:
     - job: BuildJob
       pool:
         vmImage: 'windows-latest'
       steps:
         - task: VSBuild@1
           inputs:
             solution: '**/*.sln'
             msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:PackageLocation="$(Build.ArtifactStagingDirectory)"'
         - task: PublishBuildArtifacts@1
           inputs:
             PathtoPublish: '$(Build.ArtifactStagingDirectory)'
             ArtifactName: 'drop'
 - stage: Deploy
   displayName: 'Deploy Stage'
   dependsOn: Build
   jobs:
     - deployment: DeployToEnvironment
       displayName: 'Deploy to Environment'
       environment:
         name: DevEnvironment
         resourceType: VirtualMachine
       strategy:
         runOnce:
           deploy:
             steps:
               - download: current
                 artifact: drop
               - task: IISWebAppManagementOnMachineGroup@0
                 displayName: 'Manage IIS Web App'
                 inputs:
                   IISDeploymentType: 'IISWebsite'
                   ActionIISWebsite: 'https://win8130.site4now.net:8172/MsDeploy.axd?site=arielgiacomini-003-site1'
                   WebsiteName: 'arielgiacomini-003-site1'
                   WebsitePhysicalPath: 'h:\\root\\home\\arielgiacomini-003\\www\\api.finance.prd'
               - task: IISWebAppDeploymentOnMachineGroup@0
                 displayName: 'Deploy IIS Web App'
                 inputs:
                   WebSiteName: 'Default Web Site'
                   Package: '$(Pipeline.Workspace)/drop/*.zip'